//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 22 13:57:47 2017
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "Clk" LOCATE = SITE "C9" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "SPI_SS_B" LOCATE = SITE "U3" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M18" LEVEL 1;
COMP "VGA_B" LOCATE = SITE "G15" LEVEL 1;
COMP "VGA_G" LOCATE = SITE "H15" LEVEL 1;
COMP "SF_CE" LOCATE = SITE "D16" LEVEL 1;
COMP "VGA_R" LOCATE = SITE "H14" LEVEL 1;
COMP "AMP_CS" LOCATE = SITE "N7" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "L17" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "F14" LEVEL 1;
COMP "AMP_DOUT" LOCATE = SITE "E18" LEVEL 1;
COMP "AMP_SHDN" LOCATE = SITE "P7" LEVEL 1;
COMP "LCD_D<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "LCD_D<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "LCD_D<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "LCD_D<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
COMP "FPGA_INIT_B" LOCATE = SITE "T3" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "Clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

